body{
  background: whitesmoke
}

.bt {
  border:1px solid #25692A;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  font-family:Verdana;
  font-weight:bold;
  font-size:13px;
  padding:6px 10px;
  text-decoration:none;
  }

  .bt:active {
    position:relative;
    top:2px;}

h1{
  display: flex;
  align-items: center;
}

.bt-coffee {
  border-color:#eb9b48;
  background:linear-gradient(to bottom, #f7d6b3 5%, #eb9b48 100%);
  box-shadow:inset 0px 1px 0px 0px #fdf7f0;
  color:#333;
  text-shadow:0px 1px 0px #ffee66;
  }
  
  .bt-lunch {
  border-color:#46a7f5;
  background:linear-gradient(to bottom, #86c6f8 5%, #46a7f5 100%);
  box-shadow:inset 0px 1px 0px 0px #d7ecfd;
  color:#fff;
  text-shadow:0px 1px 0px #528009;  
  }

 
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


#csstabs {
  height: 80%; 
  margin:0 auto;
  position:relative;
  width: 100%;
  }
  #csstabs h3 { /* títulos das abas */
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
  height: 25px;
  margin: 0;
  padding: 5px 5px 5px 5px;
  text-align: left;
  /* border-top:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #000; */
  border-bottom:1px solid #000;
  }
  .tabcontent { /* conteúdo das abas */
  display: block;
  height: auto;
  width:100%;
  padding:15px 0 5px 0px;
  /* border:1px solid #000; */
  }
  #csstabs:hover h3, #tabs:focus h3, #tabs:active h3 {
  z-index: 0;
  background:none;
  }
  #csstabs:hover .tabcontent, #tabs:focus .tabcontent, #tabs:active .tabcontent {
  opacity: 0;
  z-index: 0;
  }
  
  #tab1 .tabcontent {
  background-color: #ddd;
  position:absolute;
  left:0;
  top:35px;
  height: 200px; /* altura total do conteúdo da aba 1 */
  z-index: 2;
  }
  #tab1 h3 {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 3;
  background-color: #ddd; 
  }
  
  #tab1:hover h3, #tab1:focus h3, #tab1:active h3 {
  background-color: #ddd;
  color: #565A63;
  z-index: 4;
  }
  #tab1:hover .tabcontent, #tab1:focus .tabcontent, #tab1:active .tabcontent {
  opacity: 1;
  z-index: 3;
  }
  
  #tab2 .tabcontent {
  background-color: #E6EAF3;
  height: 200px; /* altura total do conteúdo da aba 2 */
  opacity: 0;
  top:35px;
  z-index: 1;
  position:absolute;
  }
  #tab2 h3 {
  left: 120px;
  position: absolute;
  top: 0;
  }
  
  #tab2:hover h3, #tab2:focus h3, #tab2:active h3 {
  background-color: #E6EAF3;
  color: #565A63;
  z-index: 4;
  }
  #tab2:hover .tabcontent, #tab2:focus .tabcontent, #tab2:active .tabcontent {
  opacity: 1;
  z-index: 3;
  }