.bt {
  border:1px solid #25692A;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  font-family:Verdana;
  font-weight:bold;
  font-size:13px;
  padding:6px 10px;
  text-decoration:none;
  }

  .bt:active {
    position:relative;
    top:2px;}

h1{
  display: flex;
  align-items: center;
}

.bt-coffee {
  border-color:#eb9b48;
  background:linear-gradient(to bottom, #f7d6b3 5%, #eb9b48 100%);
  box-shadow:inset 0px 1px 0px 0px #fdf7f0;
  color:#333;
  text-shadow:0px 1px 0px #ffee66;
  }
  
  .bt-lunch {
  border-color:#46a7f5;
  background:linear-gradient(to bottom, #86c6f8 5%, #46a7f5 100%);
  box-shadow:inset 0px 1px 0px 0px #d7ecfd;
  color:#fff;
  text-shadow:0px 1px 0px #528009;  
  }




/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
