@media (min-width: 1024px) and (max-width: 1366px) {
  body {
    margin:0;
    background: #2B1607;
    display: block;
    height: 100%; 
    padding: 30px;
    
  }

  .root {
    display: block;
    border-radius: 20px;
    border: solid black;
    width: 100%;
    background-color:whitesmoke;
    height: 700px;
    overflow: scroll;

  }

  .logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .box-logo {
    display: flex;
    justify-content: center;
  }

  h1 {
    display: flex;
    align-items: center;
  }

  .button-Itemsmenu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    /* height: 289px; */
  }

  .bt-kitchen {
    display: flex;
    margin-right: 10px;
    
  }

  .menutype {
    display: flex;
  }

  .container-restaurant {
    display: flex;
    /* width: 100%; */
    
  }

  .box-items {
    width:597px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
    flex-direction: column;
    border-radius: 10px;
    display: table;
    display: block;
    width: 680px;
    margin-left: 5px;
    margin-right: 5px;
    
  }

  .title {
    display: flex;
    flex-direction: column;
    
  }

  .input-data {
    font-size: 20px;
    border-radius: 10px;
  }

  .box-order {
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fba1393d;
    margin-left: 5px;
    margin-right: 5px;

  }

  .box-order:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .order {
    font-size: small;
    display: inline-flex;
    margin: 2px;
  }

  .box-cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }

  .bt-menutype {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    flex-direction: column;

  }

  .bt-menu {
    margin-left: 10px;
  }

  .btn-del {
    background-color: transparent;
    font-size: 18px;
    padding: 0;
    border: none;

  }
  .order{
    font-size: 18px;
    display: flex;
  }

  .data-order {
    display: flex;
    flex-direction: column;

  }

  .card-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2px;
    text-align: justify; 
    font-size: 15px;
    min-width: 250px;
    background: beige;
    overflow:scroll;
    height: 350px;
    background-color: #fba1393d;

  }

  .bt-menuStatus{
    display: flex;
    justify-content: center; 
  }

  .title-pending {
    display: flex;
    flex-direction: column;
  }

  .bt-status{
    display:flex;
    align-content: space-between;
    
  }

  .divisor{
    width: 100%;
    border-bottom: #ccc solid;
    border-block-end: inherit;
    display: flex;
    justify-content: center;
  }

  .bt-status {
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background-color: #89c40399;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
  }
  .bt-status:hover {
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    background-color:#77a809;
  }
  .bt-status:active {
    position:relative;
    top:1px;
  }

  .bt, .bt-kitchen, .bt-menu, .bt-enviar, .restaurant, .kitchen {
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    background-color:#ffc477;
    border-radius:6px;
    border:1px solid;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #cc9f52;
  }
  .bt, .bt-kitchen, .bt-color, .restaurant, .kitchen {
    background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    background-color:#fb9e25;
  }
  .bt, .bt-kitchen, .bt-color, .restaurant, .kitchen{
    position:relative;
    top:1px;
  }

  .bt-color {
    border: solid #2b1607c4;
    color: #2B1607;
    font-weight: bold;
    border-radius: 10px;
  }

  .bt-kitchen {
    border: solid #2b1607c4;
    color: #2B1607;
  }

  .bt-kitchen:hover {
    background: #2B1607;
    color: #ffffff;
  }

  .bt-menu:hover {
    background: #2B1607;
    color: #ffffff;
  }

  .restaurant:hover {
    background: #2B1607;
    color: #ffffff;
  }
  .kitchen:hover {
    background: #2B1607;
    color: #ffffff;
  }

  .bt-Itemsmenu {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border: solid sandybrown;
    color: maroon;
    padding: 5px;
  }

  .csstabs {
    height: 65px;
    margin: 0 auto;
    position: relative;
    width: 100%;

  }

  .csstabs h3 {
    color: #000;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 25px;
    margin: 0;
    padding: 5px 5px 5px 5px;
    text-align: left;

  }

  .main-menu{
    display: flex;
    justify-content:center ;
    padding:10px;
    list-style-type: none;
  }

  .tabcontent {
    display: block;
    height: auto;
    width: 100%;
    padding: 15px 0 5px 0px;
  }

  .nav-restaurant h3 {
    top: 0;
    z-index: 3;
    font-size: 25px;
    border: solid #2b1607c4;
    
  }
  .nav-restaurant{
    margin-right: 10px;
  }

  .nav-kitchen .tabcontent {
    height: 200px;
    opacity: 0;
    top: 35px;
    z-index: 1;
  }

  .nav-kitchen h3 {
    border: solid #2b1607c4;
    top: 0;
    font-size: 25px;
  }

  .nav-restaurant{
    text-decoration: none;
  }
  .nav-kitchen{
    text-decoration: none;
  }

  .flex{
    display: flex;
  }
}